* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif

}

.container {

    min-width: 1100px;
    display: grid;
    grid-template-columns: 380px auto;
}


/* left side css code  */
.container .left .profile {
    background-color: rgb(20, 180, 244);
    padding: 55px;
    text-align: center;
    color: #171717;
    text-transform: uppercase;
    font-weight: 700;
}

.container .left .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.container .left .profile h1 {
    margin: 30px 0 0 0;
    font-size: 34px;

}

.container .left .profile p {
    margin: 15px;

}

.container .left .details {
    background-color: #171717;
    color: white;
    padding: 35px;
}

.container .left .details h2 {
    padding: 0 0 8px 0;
    border-bottom: 2px solid white;
    text-transform: uppercase;
    margin: 5px 0;
}

.container .left .details h2 i {
    color: rgb(20, 180, 244);
    margin-right: 5px;
}

.container .contact .contact-details .content .left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 6px 0;
}

.container .education .education-details .content .left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0;
}

.container .contact .contact-details .content .left i {
    font-size: 22px;
}

.contact-details,
.education-details,
.language-details {
    margin: 35px 0;
}

.container .left .details p {
    color: #979a99;
    margin: 5px 0;
    word-wrap: break-word;
}

.container .left .details .content h3 {
    margin: 0 0 3px 0;
}

.container .left .details .content {
    margin: 0 0 22px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
}

.container .left .details .content ul {
    margin: 0 22px;
}

.container .left .details .content ul li {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* right side css code */
.container .main {
    padding: 45px;
}

.container .main h2 {
    padding: 0 0 10px 0;
    border-bottom: 2px solid #353938;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    color: #353938;
}

.container .main h2 i {
    color: rgb(20, 180, 244);
    margin-right: 5px;
}

.container .main .profile-info,
.container .main .work,
.container .main .skills,
.container .main .reference {
    margin: 0 0 45px 0;
}

.container .main p {
    color: #7e7e7e;
    margin: 5px;
    text-align: justify;
}

.container .main .work .content {
    display: grid;
    grid-template-columns: auto 4fr;
    column-gap: 25px;
    margin: 0 0 35px 0;
}

.container .main .work .content .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .main .work .content h3 {
    margin: 0 0 5px 0;
    padding: 0 0 0 4px;
    color: #353938;
}

.container .main .work .content .left {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.container .main .skills .content,
.container .main .reference .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
}

.container .main .skills .content p {
    color: #7f7f7f;
    margin: 10px 0;
}

.container .main .reference .content p {
    margin: 8px 0;
}

.bar {
    width: 100%;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 15px;
    
    margin: 0 0 8px 0;
}

.bar span {
    display: block;
    height: 10px;
    background-color: rgb(20, 180, 244);
    border-radius: 15px;
}

.ninety {
    width: 90%;
}

.seventy {
    width: 70%;
}

.fifty {
    width: 50%;
}

.container .left .details .content ul li .bar {
    width: 130px;
    margin: 0 0 0 60px;
}
