*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    align-items: center;
}
body{
    height:100vh;    
    align-items:center; 
    justify-content: center;
  
 
   
}


.container {
    display: flex;
    flex-wrap: wrap;


}
.container div{
    margin: 0;
}

.sidebar{
    flex: 30%;
    padding: 25px;
  }
  .profile-image{
    background-color: rgb(20, 180, 244);
    padding: 20px;
    text-align: center;
  }
  .profile-image h1{
    font-size: 20px;
    padding: 10px;
  }
  .profile-image img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.profile-image p{
 font-weight: 600;
 font-size: 15px;
}
.side-content
{

    padding: 30px 30px;
    background-color: rgb(26, 25, 25);
    color: white;
    width: 100%;
    height: 90vh;


}

.sidebar hr{
    border: 1px solid white;
    width:90%;
    text-align: center;
    color: white;
    background-color: white;
}
.heading-content , .education-content {
  margin-top: 10px;
}
.education , .contact , .language {
    padding: 10px;
}
.education-para,.contact-para
{
    margin-left: 30px;
    padding-top: 0; 
    color:grey;
    font-size: 12px;
}
.language ul li{
    padding:10px;
    margin-left: 35px;
    color: grey;
    font-size: small;
    
}
.fa-user,.fa-graduation-cap,.fa-globe{
    padding:10px;
    color:rgb(20, 180, 244);
    font-size: 30px;
}
.fa-phone,.fa-envelope,.fa-home, .fa-arrow-circle-o-right{
    padding: 10px;
    font-size: 30px;
}
/* rightbar css */
.rightbar {
    flex: 70%;
    background-color: white;
    padding: 20px;
    
  }
.rightbar hr{
    border: 1px solid black;
    width:60%;
    text-align: center;
    color: black;
    background-color: black;
}

.fa-user-circle,.fa-briefcase,.fa-list,.fa-address-book{
    padding:10px;
    color:rgb(20, 180, 244);
    font-size: 50px;
}
.profile-info ,.work-info,.skills,.reference{
    margin-right:35% ;

    
}
.profile-info p{
    text-align: justify;
    margin-right: 35px;
    margin-top: 10px;
    color: grey;
}
.work-details{
    text-align: justify;
    margin-right: 35px;
    margin-top: 10px;
    
}
.span{
    text-align: right;
    margin-left: 25%;
}
.work-details-2{
    text-align: justify;
    margin-left: 35px;
    
}
p{
    text-align: justify;
    
    color: grey;
    font-size: 16px;

    
}
.work-para{
    margin-left: 35px;
    margin-top: 10px;
}
.heading{
    margin-top: 10px;
}
.progress-item{
    float:left;
    width: 35% ;
    padding:20px 20px 0 0;
    margin: 10px 0 10px 0;
    margin-top: 10px;

  }
  
 
  .skills-details:after {
    content: "";
    display: flex;
    clear: both;
  
  
  }
  .progress-bar{

        background-color: rgb(20, 180, 244);
        color: white;
        padding: 3%;
        text-align: right;
        font-size: 20px;
        border-radius: 15px;
 

  }
  .progress {
    background-color: rgb(192, 192, 192);
    width: 70%;
    border-radius: 15px;
}

.ref-detail-1 {
    float:left;
    width: 35% ;
    padding:20px 20px 0 0;
    margin: 10px 0 10px 0;
    margin-top: 10px;
}
  .ref-details:after {
    content: "";
    display: flex;
    clear: both;
   
  }
  .ref-para{
    font-size: 16px;
    padding:10px 0 0 0;
    margin-top: 10px;
  }
  @media screen and (max-width: 700px) {
    .sidebar, .rightbar {   
      flex-direction: column;
    }
  }